h1{
    text-align: center;
    /* font-weight: 700; */
}




/* h2{
    color: rgb(250, 120,5);
    background-color: palevioletred;
}
button{
    color: magenta;
    background-color: cyan;
}
p{
    color: olive;
    background: orange;
}
body{
    background-color: #c5c; ;
} */