  html {
      font-size: 15px;
  }
  
  h1 {
      font-weight: 700;
      text-decoration: rgb(144, 144, 194) underline wavy;
      letter-spacing: 10px;
      font-size: 60px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-family: fantasy;
      margin: 0;
      /* display: inline; */
      text-align: center;
  }
  
  nav {
      display: inline;
  }
  
  #signup {
      background-color: blue;
      color: black;
  }
  
  p {
      font-weight: normal;
      line-height: 2;
  }
  
  a {
      text-decoration: none;
  }
  
  button:hover {
      background-color: #023e8a;
      color: #e76f51;
  }
  
  button:active {
      color: #e9c46a;
      background-color: #9d0208 !important;
  }
  /* .post:nth-of-type(2) {
    background-color: #edf2fb;
} */
  
  .post:nth-of-type(n) {
      background-color: #edf2fb;
  }
  
  h2:nth-of-type(n) {
      background-color: #ced4da;
  }
  
  h3:nth-of-type(n) {
      background-color: #ced4da;
  }
  
  h2::first-letter {
      font-size: 40px;
  }
  
  h2,
  h3 {
      width: 300px;
      padding-left: 30px;
      border-left: inset;
  }
  
  p::first-line {
      color: purple;
  }
  
  p::selection {
      color: yellowgreen;
  }
  
  button:hover {
      background-color: red;
      color: seashell;
      font-size: 10px;
  }
  
  body {
      color: brown;
  }
  
  button {
      color: chartreuse inherit;
      padding: 4px 7px 4px 7px;
      border-radius: 5px;
  }
  
  div:nth-of-type(2n) {
      color: ivory;
      width: 100px;
      height: fit-content;
      background-color: #0096c7;
  }
  
  div:nth-of-type(2n+1) {
      color: ivory;
      width: 100px;
      height: fit-content;
      background-color: #283618;
  }
  
  h3 {
      width: fit-content;
  }
  
  #one {
      border-width: 5px;
      background-color: rgb(238, 81, 18);
      border-color: black;
      border-style: solid;
      /* box-sizing: border-box; */
  }
  
  #two {
      border-color: #fff0f3;
      background-color: #ddbea9;
      border-style: inset;
      border-width: 5px;
      border-left-color: transparent;
  }
  
  #three {
      border-color: #adb5bd;
      background-color: #495057;
      border-style: dotted;
      border-width: 5px;
  }
  
  #four {
      border-color: #f0efeb;
      background-color: #b7b7a4;
      /* width|style|color */
      /* border: 4px solid black; */
      border-top-left-radius: 4px 2px;
  }
  
  .letme {
      /* top|horizontal|bottom */
      padding: 10px 18px;
      /* top|right|bottom|left */
  }
  
  .div {
      background-color: magenta;
      height: 200px !important;
      width: 200px;
      border: 2px solid black;
      padding: 5px;
      display: inline-block;
      margin: 50px;
  }
  
  html {
      font-size: 10px;
  }
  
  .ems ul {
      font-size: 2em;
  }
  
  .rems ul {
      font-size: 2rem;
  }
  
  .rgba-class {
      height: 300px;
      width: 300px;
      background-color: tomato;
  }
  
  #rgba {
      height: 50%;
      width: 50%;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 10%;
      margin: 14%;
  }
  
  #opacity {
      height: 50%;
      width: 50%;
      background-color: yellowgreen;
      padding: 10%;
      margin: 14%;
      opacity: 0.6;
  }
  
  .position-div {
      background-color: magenta;
      height: 100px !important;
      width: 100px;
      border: 2px solid black;
      padding: 5px;
      margin: 20px;
      display: inline-block;
  }
  
  #middle-div {
      background-color: blue;
      top: 100px;
  }
  
  #static #middle-div {
      position: static;
  }
  
  #relative #middle-div {
      position: relative;
      top: 100px;
      left: 100px;
  }
  
  #absolute {
      position: relative;
  }
  
  #absolute #middle-div {
      position: absolute;
      top: 1px;
      left: 10px;
  }
  
  #fixed #middle-div {
      position: fixed;
      top: 0;
      left: 600px;
  }
  
  .circle {
      height: 200px !important;
      width: 200px !important;
      background-color: magenta !important;
      transition: all 1s 1s;
      transition: background-color 1s, border-radius 1.5s;
  }
  
  .circle:hover {
      background-color: mediumturquoise !important;
      border-radius: 50% !important;
      transition: all 1s 1s;
  }
  
  section.transition div {
      height: 100px;
      width: 100px;
      background-color: turquoise;
      margin: 20px 0;
      transition: margin-left 3s;
  }
  
  .transition:hover div {
      margin-left: 500px;
  }
  
  .transition-timing:nth-of-type(1) {
      transition-timing-function: ease-in;
  }
  
  .transition-timing:nth-of-type(2) {
      transition-timing-function: ease-out;
  }
  
  .transition-timing:nth-of-type(3) {
      transition-timing-function: cubic-bezier(.85, 0, 0.15, 1);
  }
  
  .transition-timing:nth-of-type(4) {
      transition-timing-function: cubic-bezier(.7, 0, 0.84, 0);
  }
  
  section h1 {
      background-color: teal;
      border: 5px solid cornflowerblue;
      color: cornsilk;
      padding: 0.7em;
      width: 300px;
      font-size: 1.8em;
      text-align: center;
      margin: 20px auto;
      font-family: 'Courier New', Courier, monospace;
      font-weight: lighter;
      text-decoration: none;
  }
  
  section h1:nth-of-type(2n) {
      background-color: #e76f51;
  }
  
  section h1:nth-of-type(3n) {
      background-color: #f4a261;
  }
  
  section h1:nth-of-type(4n) {
      background-color: #264653;
  }
  
  section.transformation h1:nth-of-type(1) {
      transform: rotate(45deg);
  }
  
  section.transformation h1:nth-of-type(2) {
      transform-origin: bottom right;
      transform: rotateZ(150deg);
  }
  /* #sticky #middle-div {
      position: -webkit-sticky;
      position: sticky;
      top: 20%;
  } */
  /*
  h2 {
      color: rgb(250, 120, 5);
      background-color: palevioletred;
  }
  
  button {
      color: magenta;
      background-color: cyan;
  }
  
  p {
      color: olive;
      background: orange;
  }
  
  body {
      background-color: #c5c;
      ;
  }
  
  */