img {
    width: 30%;
    margin: 1.2%;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1ff;
    width: 30%;
    margin-left: 1.2%;
    font-family: 'Raleway', sans-serif;
    padding: 1.2em 0;
    font-size: 1.2em;
}